
/*clients*/
.clients {
  @media screen and (max-width: 1199px) {
    padding: 60px 0;
  }
  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
  }
  
  .clients__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
  }
  
  .clients__list {
    display: flex;
    gap: 30px;
    @media screen and (max-width: 767px) {
      
      flex-wrap: wrap;
     
    }
   
    @media screen and (min-width: 1200px) {
      
      
    }
  }

  
  .clients__item {
    // flex-basis: calc((100% - 5 * 30px)/ 6);
    @media screen and (max-width: 767px) {
     
      flex-basis: calc((100% - 2 * 30px) / 3);
    }
    @media screen and (min-width: 1200px) {
      
      flex-basis: calc((100% - 5 * 30px) / 6);
    }

  }
  
  .clients__icon {
    
    height: 80px;
    fill: var(--color-third);
    @include transit(fill);
  }
  
  .clients__link {
     display: flex;
     align-items: center;
    justify-content: center;
    border: 1px solid var(--color-third);
    border-radius: 4px;
    
    @include transit(border-color);

    
  }
  

  .clients__link {
    &:hover,
    &:focus {
      border-color: var(--button);
    }
    &:hover {
    .clients__icon {
      fill: var(--button)
    }
    } 
    &:focus  {
      .clients__icon {
        fill: var(--button)
      }
    }
  }