
.contacts {
    margin-left: auto;

    @media screen and (min-width: 1200px) {
      @include flexible;
      gap: 50px;
    }
  }

  .contacts__link {
    
    // padding: 32px 0;
    font-weight: 500;
    
    letter-spacing: 0.02em;
    text-decoration: none;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      font-size: 12px;
      line-height: calc(14 / 12);
    }
    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: calc(16 / 14);
    }
    
  }

  .contacts__link,
  .contacts__icon {
    color: var(--contact);
    @include transit(color);

  }
  
  .contacts__link {
    &:hover,
    &:focus {
      color: var(--button);
    }
  }
  
  .contacts__link {
      @include flexible(space-between);
    
  }
  
  .contacts__link--wide {
    
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-bottom: 10px;
      min-width: 140px;
    }
    @media screen and (min-width: 1200px) {
      margin: 0;
      min-width: 160px;

    }
  }
  .contacts__link--narrow {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: 123px;
    }
    @media screen and (min-width: 1200px) {
      width: 140px;
    }

  }
  
  .contacts__icon {
    display: block;
    // height: auto;
    fill: var(--contact);
    @include transit(fill);

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      scale: 0.9;
    }
    @media screen and (min-width: 1200px) {
      scale: 1;
    }
  }

  .contacts__link {
    &:hover .contacts__icon,
    &:focus .contacts__icon {
      fill: var(--button);
    }
  }
