@mixin flexible {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin transit($value) {
    transition-property: $value;
    transition-duration: 250ms;
    transition-timing-function: $cubic;
}